# [Bootcamp 2.0 | Assignment No. 1]:

## 1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

## Answer :

i)

In [ ]:
print("My Name is "RAJAT" ")  # Here It can take "RAJAT" inside another (" ")

SyntaxError: ignored

### Solution

In [ ]:
print("My Name is \"RAJAT\" ")

My Name is "RAJAT"

In [ ]:
print("My Name is 'RAJAT' ")

My Name is 'RAJAT'

In [ ]:
print("""My Name is "RAJAT" """)

My Name is "RAJAT"

ii)

In [ ]:
ten* =10 # Variable names should not contain any special characters like ^ % $ ! @ # ^ & * ( )

SyntaxError: ignored

In [ ]:
ten%number =10 # Variable names should not contain any special characters like ^ % $ ! @ # ^ & * ( )

SyntaxError: ignored

In [ ]:
ten=10
ten_number=10
ten%number =10 # In Any Line contain variable ^ % $ ! @ # ^ & * ( ) 
tenNumber=10

SyntaxError: ignored

iii)

In [ ]:
10ten =10 # Variable can't starts with number

SyntaxError: ignored

iv)

In [ ]:
ten number= 10 # Can't provide space in a variable

SyntaxError: ignored

v)

In [ ]:
"Day " + 1 # Can't add String and number so we have to make number to a string

TypeError: ignored

vi)

In [ ]:
TEN = 10
ten = 20
# TEN and ten both are different in terms of lowercase and uppercase letter

print(Ten) # Have to print the exact variable which was assigned before

NameError: ignored

vii)

In [ ]:
a ,b ,c , yes = 10 , 20, "Rajat", True

print(type(a,b,c,yes)) # We can print ony 1 or 3 arguments

TypeError: ignored

In [ ]:
print(type(a,b,c)) # If we try to print 3 arguments then 1 must be string , not Integer

TypeError: ignored

viii)

In [ ]:
a,b,c = 10 # Can't assign multiple variable with one value so we have t assign three values for it

TypeError: ignored

ix)

In [ ]:
# Calculate the age of the user

name = input("Name: ") # Always gives you string value
place= input("Place: ")
year_of_birth = input("YOB: ") # We have to assign Both year_of_birth and Current_year in Int format
weight= input("weight: ")

current_year=input("Current year: ")
age=(current_year-year_of_birth)

print(f"""
My Name is : {name}
I live at : {place}
Year of Birth : {year_of_birth}
My weight is : {weight}
{name} is of age {age}""")

Name: RAJAT
Place: CUTTACK
YOB: 1998
weight: 80
Current year: 2022

TypeError: ignored

x)

In [ ]:
A= int(input("Enter the value of A: ")) # we can't assign any other format rather Integer
B= float(input("Enter the value of B: ")) # we can't assign any other format rather Integer

print(f"Sume of A and B is : {A+B}")

Enter the value of A: 12.2

ValueError: ignored

xi)

In [ ]:
# STring to Integer
A="50.22" # Passing value inside "float" but we ty to convert to Integer which is not possible as "inside" must be Integer in thus case
print(f"Data type before : {type(A)}")
A=int(A) # Trying to convert into Integer
print(f"Data type after : {type(A)}")

Data type before : <class 'str'>

ValueError: ignored

xii)

In [ ]:
# String to Boolean
A= "" # Empty string means "no value or No Int value" so It can't convert to Integer
print(f"Data type before : {type(A)}, value of A : {A}")
A=int(A)
print(f"Data type after : {type(A)}, value of A: {A}")

Data type before : <class 'str'>, value of A :

ValueError: ignored

# 2. Take input A and B and print their sum, mul, div, square of the nos.

SUM

In [ ]:
A= int(input("Enter the value of A:"))
B= int(input("Enter the value of B:"))

print(f"Sum of the two nums: {A+B}")

Enter the value of A:12
Enter the value of B:20
Sum of the two nums: 32

In [ ]:
A= int(input("Enter the value of A:"))
B= float(input("Enter the value of B:"))

print(f"Sum of the two nums: {A+B}")

Enter the value of A:12
Enter the value of B:20.2
Sum of the two nums: 32.2

In [ ]:
A= float(input("Enter the value of A:"))
B= int(input("Enter the value of B:"))

print(f"Sum of the two nums: {A+B}")

Enter the value of A:20.2
Enter the value of B:12
Sum of the two nums: 32.2

In [ ]:
A= int(input("Enter the value of A:"))
B= complex(input("Enter the value of B:"))

print(f"Sum of the two nums: {A+B}")

Enter the value of A:1
Enter the value of B:2+3j
Sum of the two nums: (3+3j)

MULTIPLY

In [ ]:
A= int(input("Enter the value of A:"))
B= int(input("Enter the value of B:"))

print(f"Sum of the two nums: {A*B}")

Enter the value of A:12
Enter the value of B:10
Sum of the two nums: 120

In [ ]:
A= int(input("Enter the value of A:"))
B= float(input("Enter the value of B:"))

print(f"Sum of the two nums: {A*B}")

Enter the value of A:12
Enter the value of B:10.2
Sum of the two nums: 122.39999999999999

In [ ]:
A= float(input("Enter the value of A:"))
B= int(input("Enter the value of B:"))

print(f"Sum of the two nums: {A*B}")

Enter the value of A:10.2
Enter the value of B:12
Sum of the two nums: 122.39999999999999

In [ ]:
A= int(input("Enter the value of A:"))
B= complex(input("Enter the value of B:"))

print(f"Sum of the two nums: {A*B}")

Enter the value of A:2
Enter the value of B:1+2j
Sum of the two nums: (2+4j)

DIVIDE

In [ ]:
A= int(input("Enter the value of A:"))
B= int(input("Enter the value of B:"))

print(f"Sum of the two nums: {A/B}")

Enter the value of A:12
Enter the value of B:10
Sum of the two nums: 1.2

In [ ]:
A= int(input("Enter the value of A:"))
B= float(input("Enter the value of B:"))

print(f"Sum of the two nums: {A/B}")

Enter the value of A:12
Enter the value of B:10.2
Sum of the two nums: 1.1764705882352942

In [ ]:
A= float(input("Enter the value of A:"))
B= int(input("Enter the value of B:"))

print(f"Sum of the two nums: {A/B}")

Enter the value of A:12.2
Enter the value of B:10
Sum of the two nums: 1.22

In [ ]:
A= int(input("Enter the value of A:"))
B= complex(input("Enter the value of B:"))

print(f"Sum of the two nums: {A/B}")

Enter the value of A:2
Enter the value of B:2+2j
Sum of the two nums: (0.5-0.5j)

SQUARE OF NOs

In [ ]:
A= int(input("Enter the value of A:"))
B= int(input("Enter the value of B:"))

print(f"Sum of the two nums: {A**B}")

Enter the value of A:12
Enter the value of B:2
Sum of the two nums: 144

In [ ]:
A= int(input("Enter the value of A:"))
B= float(input("Enter the value of B:"))

print(f"Sum of the two nums: {A**B}")

Enter the value of A:12
Enter the value of B:2.5
Sum of the two nums: 498.8306325798367

In [ ]:
A= float(input("Enter the value of A:"))
B= int(input("Enter the value of B:"))

print(f"Sum of the two nums: {A**B}")

Enter the value of A:12.2
Enter the value of B:10
Sum of the two nums: 73046314154.27913

In [ ]:
A= int(input("Enter the value of A:"))
B= complex(input("Enter the value of B:"))

print(f"Sum of the two nums: {B**A}")

Enter the value of A:2
Enter the value of B:1+2j
Sum of the two nums: (-3+4j)

# 3. How many reserve keywords are there in python and why we should not use them as a variable name.
answer :

and       del       from      not       while    
as        elif      global    or        with     
assert    else      if        pass      yield    
break     except    import    print              
class     exec      in        raise              
continue  finally   is        return             
def       for       lambda    try

In Python, keywords are case sensitive. There are 33 keywords in Python. This number can vary slightly over the course of time. All the keywords except True , False and None are in lowercase and they must be written as they are.

1. We should not use reserved words as variable names
2. Also python doesn't restrict the user to use reserved keywords as variable names
 If we try to change the keywords then they will not work as they were before.
To reuse them try to restart the run time or delete the present changed keywords.

In [ ]:
# Example 
print = "Hi there" # as a variable
type(print)

str

In [ ]:
print("Hi there") # unable to operate as print already assigned as string

TypeError: ignored

In [ ]:
# to reuse the keyword print, delete the changed keyword 
del print

In [ ]:
print("Hi there")

Hi there

# 4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [ ]:
firstname=input("Enter your First Name: ")
lastname=input("Enter your Last Name: ")

print(f"Your Email Id is: {lastname}.{firstname}@gmail.com")

Enter your First Name: rajat
Enter your Last Name: bisoe
Your Email Id is: bisoe.rajat@gmail.com

# 5. Try to print the following lines -
  - Hi I'm Sunny
  - My address is 22\3 
  - I earn 20$ daily.

In [ ]:
name= input("Enter your name:")
address = input("Enter your address:")
salary = input("Enter your salary:")

print(f"""
      Hi, I'm {name}
      My address is {address}
      I earn {salary} daily
      """)

Enter your name:Sunny
Enter your address:22/3
Enter your salary:20$

      Hi, I'm Sunny
      My address is 22/3
      I earn 20$ daily

# 6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [ ]:
name= input("Enter your name:")
address = input("Enter your address:")
DOB = input("Enter your date of birth:")

print(f"""
      Hi, I'm {name}
      My address is {address}
      I earn {salary} daily
      Your Email Id is: {name}@gmail.com
      """)

Enter your name:rajat_bisoe
Enter your address:cuttack
Enter your date of birth:18.05.1998

      Hi, I'm rajat_bisoe
      My address is cuttack
      I earn 20$ daily
      Your Email Id is: rajat_bisoe@gmail.com

# 7. Convert the following - 
  - "22.4" into integer
  - "22" into complex no.

In [ ]:
num1 = "22.4"
print(f"Data type before : {type(num1)}")

num1= float(num1) #converting string to float as "inside"- is in float , we can't change directly to Integer
print(f"Data type after : {type(num1)}")

num1=int(num1) # converting float to Integer
print(f"Data type after : {type(num1)}")

print(num1)

Data type before : <class 'str'>
Data type after : <class 'float'>
Data type after : <class 'int'>
22

In [ ]:
num1 = "22"
print(f"Data type before : {type(num1)}")

num1=complex(num1) # converting Integer to complex
print(f"Data type after : {type(num1)}")

print(num1)

Data type before : <class 'str'>
Data type after : <class 'complex'>
(22+0j)