## Python String Manipulation

1. Count the number of times `iNeuron` appears in the string.
```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```

Ans:

In [ ]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
text.count("iNeuron") # ans = 3

3

2. Check if position `5` to `11` ends with the phrase `iNeuron.` in the string 
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```

Ans:

In [ ]:
text[5:11].endswith("iNeuron")

False

3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

Ans:

In [ ]:
name = input("Enter Your Name: ")

if name.istitle():
  print(f"user has given correct input")
else:
  print(f"wrong input we need to autocorrect it")
  name = name.title()
  print(f"Correct output: {name}")


print(f"""
First name: {first_name}
Middle name: {middle_name}
Sir name: {sir_name}
""")

first_name, middle_name, sir_name = name.split(" ")

f=first_name[0]
m=middle_name[0]

print("--------------")
print(f"Your Name will be: {f}.{m}.{sir_name} ")

Enter Your Name: sunny bhaveen chandra
wrong input we need to autocorrect it
Correct output: Sunny Bhaveen Chandra

First name: Sunny
Middle name: Bhaveen
Sir name: Chandra

--------------
Your Name will be: S.B.Chandra

4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```

Ans:

In [ ]:
LIST = ["My", "name", "is", "Rishav", "Dash"]
a = str(LIST)
a = a.replace(',', '#')
print(a)

['My'# 'name'# 'is'# 'Rishav'# 'Dash']

5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```

Ans:

for
 ```
  - isdecimal()
```

Ans:

In [ ]:
a = input("Enter the value: ")

print(f"value in decimal case: {a.isdecimal()}")

Enter the value: 10.23
value in decimal case: False

In [ ]:
a = input("Enter the value: ")

print(f"value in decimal case: {a.isdecimal()}")

Enter the value: 10
value in decimal case: True

In [ ]:
a = input("Enter the value: ")

print(f"value in decimal case: {a.isdecimal()}")

Enter the value: 1234
value in decimal case:True

for
 ```
 - islower()
 - isupper()
 - isalpha()
 - isnumeric()
```

In [ ]:
name = input("Enter your name: ")

print(f"user input: {name}")
print(f"name in lower case: {name.islower()}")
print(f"name in upper case: {name.isupper()}")
print(f"name in alphaet case: {name.isalpha()}")
print(f"name in numeric case: {name.isnumeric()}")

Enter your name: rajat
user input: rajat
name in lower case: True
name in upper case: False
name in alphaet case: True
name in numeric case: False

In [ ]:
name = input("Enter your name: ")

print(f"user input: {name}")
print(f"name in lower case: {name.islower()}")
print(f"name in upper case: {name.isupper()}")
print(f"name in alphaet case: {name.isalpha()}")
print(f"name in numeric case: {name.isnumeric()}")

Enter your name: RAJAT
user input: RAJAT
name in lower case: False
name in upper case: True
name in alphaet case: True
name in numeric case: False

In [ ]:
name = input("Enter your name: ")

print(f"user input: {name}")
print(f"name in lower case: {name.islower()}")
print(f"name in upper case: {name.isupper()}")
print(f"name in alphaet case: {name.isalpha()}")
print(f"name in numeric case: {name.isnumeric()}")

Enter your name: rajat123
user input: rajat123
name in lower case: True
name in upper case: False
name in alphaet case: False
name in numeric case: False

In [ ]:
name = input("Enter your name: ")

print(f"user input: {name}")
print(f"name in lower case: {name.islower()}")
print(f"name in upper case: {name.isupper()}")
print(f"name in alphaet case: {name.isalpha()}")
print(f"name in numeric case: {name.isnumeric()}")

Enter your name: 123456
user input: 123456
name in lower case: False
name in upper case: False
name in alphaet case: False
name in numeric case: True

6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

Ans:

In [ ]:
PAN_CARD = input("Enter user's Pan Card: ")
p= PAN_CARD.upper()
if PAN_CARD.isalpha() == True or PAN_CARD.isnumeric() == True:
  print(f"User's Pan Card is not valid")
  print("Re-Enter User's Pan Card")
elif PAN_CARD.isupper() == True and PAN_CARD.isalnum() == True:
    print(f"User's Pan Card is valid")
else:
  print(f"User's Pan Card after verification: {p}")
  print(f"User's Pan Card is now acceptable")

Enter user's Pan Card: AYEPC7894X
User's Pan Card is valid

In [ ]:
PAN_CARD = input("Enter user's Pan Card: ")
p= PAN_CARD.upper()
if PAN_CARD.isalpha() == True or PAN_CARD.isnumeric() == True:
  print(f"User's Pan Card is not valid")
  print("Re-Enter User's Pan Card")
elif PAN_CARD.isupper() == True and PAN_CARD.isalnum() == True:
    print(f"User's Pan Card is valid")
else:
  print(f"User's Pan Card after verification: {p}")
  print(f"User's Pan Card is now acceptable")

Enter user's Pan Card: ayepc7894x
User's Pan Card after verification: AYEPC7894X
User's Pan Card is now acceptable

In [ ]:
PAN_CARD = input("Enter user's Pan Card: ")
p= PAN_CARD.upper()
if PAN_CARD.isalpha() == True or PAN_CARD.isnumeric() == True:
  print(f"User's Pan Card is not valid")
  print("Re-Enter User's Pan Card")
elif PAN_CARD.isupper() == True and PAN_CARD.isalnum() == True:
    print(f"User's Pan Card is valid")
else:
  print(f"User's Pan Card after verification: {p}")
  print(f"User's Pan Card is now acceptable")

Enter user's Pan Card: ABCDE9999Y
User's Pan Card is valid

In [ ]:
PAN_CARD = input("Enter user's Pan Card: ")
p= PAN_CARD.upper()
if PAN_CARD.isalpha() == True or PAN_CARD.isnumeric() == True:
  print(f"User's Pan Card is not valid")
  print("Re-Enter User's Pan Card")
elif PAN_CARD.isupper() == True and PAN_CARD.isalnum() == True:
    print(f"User's Pan Card is valid")
else:
  print(f"User's Pan Card after verification: {p}")
  print(f"User's Pan Card is now acceptable")

Enter user's Pan Card: abcde9999y
User's Pan Card after verification: ABCDE9999Y
User's Pan Card is now acceptable

In [ ]:
PAN_CARD = input("Enter user's Pan Card: ")
p= PAN_CARD.upper()
if PAN_CARD.isalpha() == True or PAN_CARD.isnumeric() == True:
  print(f"User's Pan Card is not valid")
  print("Re-Enter User's Pan Card")
elif PAN_CARD.isupper() == True and PAN_CARD.isalnum() == True:
    print(f"User's Pan Card is valid")
else:
  print(f"User's Pan Card after verification: {p}")
  print(f"User's Pan Card is now acceptable")

Enter user's Pan Card: 012345678
User's Pan Card is not valid
Re-Enter User's Pan Card

In [ ]:
PAN_CARD = input("Enter user's Pan Card: ")
p= PAN_CARD.upper()
if PAN_CARD.isalpha() == True or PAN_CARD.isnumeric() == True:
  print(f"User's Pan Card is not valid")
  print("Re-Enter User's Pan Card")
elif PAN_CARD.isupper() == True and PAN_CARD.isalnum() == True:
    print(f"User's Pan Card is valid")
else:
  print(f"User's Pan Card after verification: {p}")
  print(f"User's Pan Card is now acceptable")

Enter user's Pan Card: abcdefghi
User's Pan Card is not valid
Re-Enter User's Pan Card