# Assignment

# 1. What is indentation error? Why indentation is important? Give one simple example?

##  ans:
The indentation error can occur when the spaces or tabs are not placed properly.There will not be an issue if the interpreter does not find any issues with the spaces or tabs. If there is an error due to indentation, it will come in between the execution and can be a show stopper.

Indentation improves the readability of the code. It is mainly used for code inside looping statements, control structures, functions etc. as good intended code is easy to maintain and is good looking. It makes the code more readable and easy to understand.

Example

if condition:
    print("execute this statement")
else:
    print("if condition is not True")

There is exact space between if condition: and print then between else: and print, which shows improvement of indentation. It helps improving visibility with shows no error in code.

# 2. Correct the following code and write the comment where you made the correction?

  ```python
  class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

  if class_started:
      print("Since class started...")
      print("Lets concentrate")
  else:
      print("Since class is not started...")
      print("let's revise")    
  ```

  **HINT:** Refer your data type conversion class

ANS:

In [ ]:
class_started = bool(int(input("Hey friend, is class started?: [0-False/1-True]")))

if class_started:
    print("Since class started...")
    print("Lets concentrate")
else:
    print("Since class is not started...")
    print("let's revise")

Hey friend, is class started?: [0-False/1-True]0
Since class is not started...
let's revise

In [ ]:
class_started = bool(int(input("Hey friend, is class started?: [0-False/1-True]")))

if class_started:
    print("Since class started...")
    print("Lets concentrate")
else:
    print("Since class is not started...")
    print("let's revise")

Hey friend, is class started?: [0-False/1-True]1
Since class started...
Lets concentrate

# 3. Use if else condition to verify that dataype of `input()` method in python is always string.

Ans :

In [ ]:
A= input("Checking the Input method: ")

if A:
  print("Yes, Data type of input() method in python is always string")
else:
  print("No, Not always string")

Checking the Input method: 1
Yes, Data type of input() method in python is always string

In [ ]:
A= input("Checking the Input method: ")

if A:
  print("Yes, Data type of input() method in python is always string")
else:
  print("No, Not always string")

Checking the Input method: rajat
Yes, Data type of input() method in python is always string

In [ ]:
A= input("Checking the Input method: ") # when we use null

if A:
  print("Yes, Data type of input() method in python is always string")
else:
  print("No, Not always string")

Checking the Input method:
No, Not always string

# 4. Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.

Ans:

In [ ]:
A=input("Enter the value A: ")
B=input("Enter the value B: ")
C=input("Enter the value C: ")

if A>B and A>C:
  print(f"{A} is greater")
  if B>C and B>A:
    print(f"{B} is greater")
else:
  print(f"{C} is greater")

Enter the value A: 3
Enter the value B: 2
Enter the value C: 1
3 is greater

# 5. What would be the solution?
    1. True
    2. False

    ```python
    a = 6
    b = 10
    print( not ( not a == 10 or not b == 10) )
    ```

Ans : 2. False

In [ ]:
a = 6
b = 10
print( not ( not a == 10 or not b == 10) ) # As (a not equals to 10 is True) or (b not equals to 10 is False)= True then negetion of True will be False

False

# 6. Find the answer as well as find out the reason behind the result? -
    - case 1:
        ```python
        A = 5.0
        B = 10/2
        print(A is B)
        ```
    - case 2:
        ```python
        A = 5.0
        B = int(10/2)
        print(A is B)
        ```
    - case 3:
        ```python
        A = 5.0
        B = float(10/2)
        print(A is B)
        ```

Ans:

Case: 1

In [ ]:
# Case 1:
A = 5.0
B = 10/2
print(A is B)

False

Reason: Address of A and B are different as A is float and B is float with different address.

In [ ]:
print(type(A))
print(id(A))

<class 'float'>
139913130234608

In [ ]:
print(type(B))
print(id(B))

<class 'float'>
139913130171824

Case: 2

In [ ]:
A = 5.0
B = int(10/2)
print(A is B)

False

Reason: Address with type of A and B are different as A is float and B is Integer with different address.

In [ ]:
print(type(A))
print(id(A))

<class 'float'>
139913130235664

In [ ]:
print(type(B))
print(id(B))

<class 'int'>
11122720

Case: 3

In [ ]:
A = 5.0
B = float(10/2)
print(A is B)

False

Reason: Address of A and B are different as A is float and B is Float with different address.

In [ ]:
print(type(A))
print(id(A))

<class 'float'>
139913130170256

In [ ]:
print(type(B))
print(id(B))

<class 'float'>
139913130170128

# 7. Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

Ans:

In [ ]:
num=int(input("Enter a number:"))

if num%3==0 or num%5==0:
  print(f"{num} is divisible by either 3 or 5")
else:
  print(f"{num} is not divisible by either 3 or 5")

Enter a number:15
15 is divisible by either 3 or 5

In [ ]:
num=int(input("Enter a number:"))

if num%3==0 or num%5==0:
  print(f"{num} is divisible by either 3 or 5")
else:
  print(f"{num} is not divisible by either 3 or 5")

Enter a number:12
12 is divisible by either 3 or 5

In [ ]:
num=int(input("Enter a number:"))

if num%3==0 or num%5==0:
  print(f"{num} is divisible by either 3 or 5")
else:
  print(f"{num} is not divisible by either 3 or 5")

Enter a number:20
20 is divisible by either 3 or 5

In [ ]:
num=int(input("Enter a number:"))

if num%3==0 or num%5==0:
  print(f"{num} is divisible by either 3 or 5")
else:
  print(f"{num} is not divisible by either 3 or 5")

Enter a number:17
17 is not divisible by either 3 or 5

# 8. Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [ ]:
len=int(input("Enter the length: ")) # Length
wid=int(input("Enter the breath: ")) # Width

area=len*wid
print(f"Area: {area}")

if len==wid:
  print("It's a Square")
else:
  print("It's a rectangule")

Enter the length: 3
Enter the breath: 2
Area: 6
It's a rectangule

In [ ]:
len=int(input("Enter the length: ")) # Length
wid=int(input("Enter the breath: ")) # Width

area=len*wid
print(f"Area: {area}")

if len==wid:
  print("It's a Square")
else:
  print("It's a rectangle")

Enter the length: 3
Enter the breath: 3
Area: 9
It's a Square

# 9. Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

In [ ]:
radius_1=float(int(input("Enter the radius_1 :"))) # If we want to put float value then we have to put float instead of float directly as we are using pi
radius_2=float(int(input("Enter the radius_2 :")))
pi=3.14
area_circle_1=pi*((radius_1)**2)
area_circle_2=pi*((radius_2)**2)

print(f"area of cicrcle_1 is: {area_circle_1}")
print(f"area of cicrcle_2 is: {area_circle_2}")

if area_circle_1>=area_circle_2:
  if area_circle_1==area_circle_2:
    print("area of circle_1 and area of circle_2 having same area")
  else:
    print("area of circle_1 having large area")
else:
  print("area of circle_2 having large area")

# if area_circle_1>area_circle_2:
#   print("area of circle_1 having large area")
#   if area_circle_1==area_circle_2:
#     print("area of circle_1 and area of circle_2 having same area")
# else:
#   print("area of circle_2 having large area")

Enter the radius_1 :3
Enter the radius_2 :4
area of cicrcle_1 is: 28.26
area of cicrcle_2 is: 50.24
area of circle_2 having large area

# 10. Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

In [ ]:
year=int(input("Enter the Year: "))

if year%4==0 or year %400==0:
  print(f"{year} is a Leap Yea1r")
else:
  print(f"{year} is not a leap year.")

Enter the Year: 1616
1616 is a Leap Year

In [ ]:
year=int(input("Enter the Year: "))

if year%4==0 or year %400==0:
  print(f"{year} is a Leap Yea1r")
else:
  print(f"{year} is not a leap year.")

Enter the Year: 2022
2022 is not a leap year.