# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

Ans:

In [ ]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

my_choice = input("What you want to purchase? : ")

N = int(input("Enter the amount of purchasing items: "))

for item in amazon_website:
  if item[0] == my_choice:
    print(f"Yes, selected item present in the list with amount: {item}")
    print("----------------------------------")
    print(f"Total payable amount for {N} items: {N*item[1]} ") 
  else:
    print("Selected item is out of stock")

What you want to purchase? : shirt
Enter the amount of purchasing items: 2
Selected item is out of stock
Selected item is out of stock
Selected item is out of stock
Yes, selected item present in the list with amount: ('shirt', 1000)
----------------------------------
Total payable amount for 2 items: 2000

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

Ans:

In [ ]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [ ]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):  # i = 1 2 3 4 5 6
  arr[i - 1] = arr[i] # arr[0] = arr[1]  
  # print(arr[i]) #  2 3 4 5 6
for i in range(0, 6): 
  print(arr[i], end = " ")

2 3 4 5 6 6

3. Write a Python program to find the repeated items of a tuple.

Ans:

In [ ]:
var=int(input("Enter the tup value want to search: "))
tup=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)  
a=list(tup)
for i in range(len(a)):
  a[i]=int(a[i])
count=a.count(var)
print(var,'appears',count,'times in the tuple')

Enter the tup value want to search: 1
1 appears 0 times in the tuple

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

Ans:

In [ ]:
t = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

for i in range(len(t)):
   upd_list=list(t[i])
   upd_list[-1] = 500
   t[i]=tuple(upd_list)

print(t)

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]

In [ ]:
t = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

whole_element = []
for i in range(len(t)):
   upd_list=list(t[i])
   upd_list[-1] = 500
   t[i]=tuple(upd_list)
   whole_element.append(t[i])
        
whole_element

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]